Repository DanielTeelOU/Golf-Player-Time-Manager, pull requests merged in 2020-02, with the labels that each got.

#23 dependency fix
  GPTM Cloud App/admin-app/.firebase/hosting.ZGlzdC9hZG1pbi1hcHA.cache
  GPTM Cloud App/admin-app/package.json
Labels: bug

#24 height fix
  GPTM Cloud App/admin-app/src/app/user/user.component.css
Labels: bug

#27 Second attempt at pushing - Documents
  Documentation/GPTM Documentation.docx
  Documentation/User Stories/Game Update User Story.docx
  Documentation/User Stories/Golf Course Registration User Stories Updated.docx
Labels: documentation

#35 Admin course overview
  GPTM Cloud App/admin-app/src/app/app-routing.module.ts
  GPTM Cloud App/admin-app/src/app/app.module.ts
  GPTM Cloud App/admin-app/src/app/authentication/auth.guard.spec.ts
  GPTM Cloud App/admin-app/src/app/authentication/auth.guard.ts
  GPTM Cloud App/admin-app/src/app/authentication/user.model.ts
  GPTM Cloud App/admin-app/src/app/course-overview/course-overview.component.css
  GPTM Cloud App/admin-app/src/app/course-overview/course-overview.component.html
  GPTM Cloud App/admin-app/src/app/course-overview/course-overview.component.ts
  GPTM Cloud App/admin-app/src/app/course-overview/eli-demo.txt
  GPTM Cloud App/admin-app/src/app/dashboard/dashboard.component.html
  GPTM Cloud App/admin-app/src/app/login/login.component.html
  GPTM Cloud App/admin-app/src/app/login/login.component.ts
  GPTM Cloud App/admin-app/src/app/nav/nav.component.ts
  GPTM Cloud App/admin-app/src/app/register/register.component.html
  GPTM Cloud App/admin-app/src/app/register/register.component.ts
  GPTM Cloud App/admin-app/src/app/services/auth.service.spec.ts
  GPTM Cloud App/admin-app/src/app/services/auth.service.ts
  GPTM Cloud App/admin-app/src/app/services/user.service.spec.ts
  GPTM Cloud App/admin-app/src/app/services/user.service.ts
  GPTM Cloud App/admin-app/src/app/support/support.component.html
  GPTM Cloud App/admin-app/src/app/support/support.component.ts
  GPTM Cloud App/admin-app/src/app/user/user.component.css
  GPTM Cloud App/admin-app/src/app/user/user.component.html
  GPTM Cloud App/admin-app/src/app/user/user.component.ts
  GPTM Cloud App/admin-app/src/app/user/user.resolver.ts
  GPTM Cloud App/admin-app/src/environments/environment.ts
Labels: Website

#36 Bugfix/course registration
  GPTM Cloud App/admin-app/src/app/course-overview/course-overview.component.ts
  GPTM Cloud App/admin-app/src/app/login/login.component.html
  GPTM Cloud App/admin-app/src/app/login/login.component.ts
  GPTM Cloud App/admin-app/src/app/register/register.component.html
  GPTM Cloud App/admin-app/src/app/register/register.component.ts
Labels: Website, bugfix

#38 Google maps integration, styling tweaks, sprint 3 demo deploy
  GPTM Cloud App/admin-app/.firebase/hosting.ZGlzdC9hZG1pbi1hcHA.cache
  GPTM Cloud App/admin-app/package.json
  GPTM Cloud App/admin-app/src/app/app.module.ts
  GPTM Cloud App/admin-app/src/app/course-map/course-map.component.css
  GPTM Cloud App/admin-app/src/app/course-map/course-map.component.html
  GPTM Cloud App/admin-app/src/app/course-map/course-map.component.spec.ts
  GPTM Cloud App/admin-app/src/app/course-map/course-map.component.ts
  GPTM Cloud App/admin-app/src/app/course-overview/course-overview.component.css
  GPTM Cloud App/admin-app/src/app/course-overview/course-overview.component.html
  GPTM Cloud App/admin-app/src/app/home/home.component.css
  GPTM Cloud App/admin-app/src/app/login/login.component.css
  GPTM Cloud App/admin-app/src/app/player-overview/player-overview.component.css
  GPTM Cloud App/admin-app/src/app/player-overview/player-overview.component.html
  GPTM Cloud App/admin-app/src/app/register/register.component.css
  GPTM Cloud App/admin-app/src/app/support/support.component.css
  GPTM Cloud App/admin-app/src/app/support/support.component.html
  GPTM Cloud App/admin-app/src/index.html
  GPTM Cloud App/admin-app/tsconfig.app.json
Labels: Website

#39 Multi Accordion set to false
  GPTM Cloud App/admin-app/.firebase/hosting.ZGlzdC9hZG1pbi1hcHA.cache
  GPTM Cloud App/admin-app/src/app/course-overview/course-overview.component.html
Labels: Website, bugfix

#40 new course structure
  GPTM Cloud App/admin-app/.firebase/hosting.ZGlzdC9hZG1pbi1hcHA.cache
  GPTM Cloud App/admin-app/src/app/course-overview/course-overview.component.html
  GPTM Cloud App/admin-app/src/app/course-overview/course-overview.component.ts
  GPTM Cloud App/admin-app/src/app/register/register.component.ts
Labels: Website

#41 Requests Player Overview UI for Admin dashboard
  Documentation/UI Mockups/Requests Player Overview UI:UX.png
Labels: documentation

#43 Admin Login, Course Registration, Course Overview, Support QA
  Documentation/QA Testing/Admin Website QA.docx
Labels: documentation

#44 Documentation update
  Documentation/GPTM Documentation.docx
Labels: documentation

#51 Requests User Story
  Documentation/User Stories/requests user story.pdf
Labels: documentation

#50 Requests UI/UX
  Documentation/UI Mockups/Requests Player Overview UI_UX.png
Labels: documentation

#49 Update GPTM Documentation.docx
  Documentation/GPTM Documentation.docx
Labels: documentation

#53 golf info
  Documentation/Golf info.pdf
Labels: documentation
